@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Poppins&display=swap');


.about-me{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: "Poppins";
    height: 789px;
    width: 100%;
    background-color:#192130 ;
}
@media(min-width:910px){
    .about-me{
        flex-direction: row;
        
    }
   

}
.about-me__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@media(min-width:910px) {
    .about-me__text {
margin-left: 120px;
margin-right: -20px;
    }

}
.title.soyLeo{
    font-size: 40px;
    text-align: center;
}
.about-me__description{
    color: whitesmoke;
    text-align: center;
    width: 300px;
    margin-top: -30px;
    margin: 0 auto;
    font-size: 18px;
}
.about-me__img-me{
    margin-left: 0;
}
@media(min-width:300px){
    .about-me__img-me{
        gap: -20px;
        max-height: 493px;
    }
}
@media(min-width:910px) {
    .about-me__img-me {
        max-height: 100%;
        margin-left: 510px;
        display: flex;
        justify-content: flex-end;
        float: right;
       

    }


}


